@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"),
   url("./fonts/Gilroy.otf") format("truetype");
  font-weight: bold;
  }

 

* {
  
  margin: 0;
  font-family: "Gilroy";
  color: #432;
  align-items: center;
  
}

h1 {
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 10px;
}



.navbar {
  padding: 0px;
  font-size: 17px;
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #6abaf3;
}
.navbar .links {
  margin-left: auto;
  
  
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  
}
.navbar a:hover {
  color: #6abaf3;
  
}
.content {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  align-items: center;
}

.about{
  
  padding: 10px 16px;
  margin: 20px;
  border: 2px solid #6abaf3;
  border-radius: 10px;
  

}

.about:hover{
  box-shadow: 1px 1px 3px rgba(0,0,0,1);
}

.about h2{
  font-size: 30px;
  color: #6abaf3;
  margin-bottom: 8px;
  text-align: center;
}

.loginform {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  border: 2px solid #ddd;
  padding: 20px;
  border-radius: 10px;
}
.login label {
  text-align: left;
  display: block;
}
.login h2 {
  font-size: 20px;
  color: #000000;
  margin-bottom: 30px;
  text-align: center;
}
.login input, .login textarea, .login select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.login button {
  background: #6abaf3;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
}

.dashboard{
  margin: 0 auto;
  display: flex;
  min-width: 100%;
  flex-direction: column
}

.dashboard .innerdash{
  width: 100%;
  
}

.dashboard button{
  
  font-size: 30px;
  color: #000000;
  border: 1px solid #ddd;
 padding: 60px;
  background: #fff;
  width:45%; 
  margin: 10px;
  
  
}

.dashboard button:hover{
  box-shadow: 1px 1px 3px rgba(0,0,0,1);

}


